<!doctype html>

<html>

	<head>
		
		<title>mySpotlight</title>
		
		<!--the meta viewport tag sets the screen width to pixel width of 
		device -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- stylesheets -->
		<link rel="stylesheet" type="text/css" href="static/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.css">

		<!--DEV STYLE to visualize empty canvas for positioning-->
		<style type="text/css">
			#mainStage {
				border: 1px solid black;
				position: center;
			}
		</style>

		<!--javascript libraries-->
		<script src="static/jquery-1.11.1.js" type="text/javascript"></script>
		<script src="static/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.js" type="text/javascript"></script>
		<script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.1.min.js"></script><!-- FIXIT kinetic JS NOT LOCAL SO FAR-->

		<!-- javascript files -->
		<script src="static/main.js" type="text/javascript"></script>
		<script src="static/functions.js" type="text/javascript"></script>

	</head>



	<body>
		<div data-role="page">
			
			<div data-role="header">
			<input type="file" id="selectFileButton">
			</div> <!--header-->

			<div data-role="content" id="contentDiv">
				<canvas id="mainStage" width="250" height="250">
			<!--<p><img src="" height="200" alt="Image preview..." id="testImage"></p>-->
			</div> <!-- content -->

			<div data-role="footer">
			<h4>footer</h4>
			</div> <!-- footer -->

		</div> <!--page-->

	
	</body>
</html>